body {
    background-color: silver;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center; 
    color: white; 
    text-align: center;
    font-size:3rem; 
    }
header {
    width:70vw;
    height: 10vh; 
    border-radius: 5px;
    background-color: purple;
    align-self: center;  
}
main {
    width: 70vw; 
    height: 45vh; 
    background-color: seagreen; 
    border-radius: 5px;
    display:flex;  
    flex-direction:column; 
    align-items:center;
    justify-content: center;
    margin-bottom:10px; 
}
.article {
    width: 60vw;
    height: 10vh; 
    background-color: red;
    border-radius: 5px; 
    margin-top: 15px; 
    margin-bottom: 15px;  
    font-size: 2.25rem; 
}

#mainAsideContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside {
    width: 70vw;
    height: 10vh; 
    background-color:blue;
    border-radius:5px;
}
footer {
    width: 70vw;
    height: 10vh;  
    background-color: orange;
    border-radius:5px; 
}

@media only screen and (min-width: 750px ) { 
    body {
        display: flex; 
        justify-content: center;
    }

    #mainAsideContainer {
        display:flex; 
        flex-direction: row-reverse; 
        justify-content: space-between;
        max-width:95vw; 
        height: 60vh; 
        margin-top:10px;
        margin-bottom:10px;
    }
    
    main {
        height: 60vh; 
        max-width: 65vw;
        flex-grow: 3;
        margin-left:10px;
        margin-right:10px; 
    }

    aside {
        height: 60vh; 
        flex-grow: 1; 
        max-width: 40vw;
        margin-left: 10px; 
        margin-right:10px;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
    }
    header {
        width: 95vw;
        margin-bottom:20px; 
    }
    footer {
        width: 95vw;
        margin-top: 20px;  
    }
    .article {
        margin-left: 10px; 
        margin-right:10px; 
    }
}